@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shippori+Antique+B1&display=swap');

html,
body,
canvas {
  height: 100vh;
  width: 100vw;
  font-family: Roboto, sans-serif;
  overflow: hidden;
  font-family: 'Shippori Antique B1', sans-serif;
}

body {
  background-color: black;
  margin: 0;
}

.intro {
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.027);
  padding: 1rem;
}

.controlstitle {
  font-size: 1.2rem;
  color: red;
}

span {
  color: yellow;
}
.room {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.ipl-progress-indicator.available{
  opacity:0
}

.ipl-progress-indicator{
  background-color:black;
  width:100%;
  height:100%;
  position:fixed;
  opacity:1;
  pointer-events:none;
  -webkit-transition:opacity cubic-bezier(.4,0,.2,1) 436ms;
  -moz-transition:opacity cubic-bezier(.4,0,.2,1) 436ms;
  transition:opacity cubic-bezier(.4,0,.2,1) 436ms;
  z-index:9999
}
  
.insp-logo-frame{
  display:-webkit-flex;
  display:-moz-flex;
  display:flex;
  -webkit-flex-direction:column;
  -moz-flex-direction:column;
  flex-direction:column;
  -webkit-justify-content:center;
  -moz-justify-content:center;
  justify-content:center;
  -webkit-animation:fadein 436ms;
  -moz-animation:fadein 436ms;
  animation:fadein 436ms;
  height:100%
}
    
.insp-logo-frame-img{
    width:10rem;
    height:10rem;
    -webkit-align-self:center;
    -moz-align-self:center;
    align-self:center;
    border-radius:50%
  }
      
.ipl-progress-indicator-head{
background-color:white;
height:4px;
overflow:hidden;
position:relative;
}

.first-indicator,
.second-indicator{

background-color:yellow;
bottom:0;
left:0;
right:0;
top:0;
position:absolute;
-webkit-transform-origin:left center;
-moz-transform-origin:left center;
transform-origin:left center;
-webkit-transform:scaleX(0);
-moz-transform:scaleX(0);
transform:scaleX(0)
}

.first-indicator{
-webkit-animation:first-indicator 2s linear infinite;
-moz-animation:first-indicator 2s linear infinite;
animation:first-indicator 2s linear infinite
}

.second-indicator{
-webkit-animation:second-indicator 2s linear infinite;
-moz-animation:second-indicator 2s linear infinite;
animation:second-indicator 2s linear infinite
}

.insp-logo{
animation:App-logo-spin infinite 20s linear;
border-radius:50%;
-webkit-align-self:center;
-moz-align-self:center;
align-self:center;
}

@keyframes App-logo-spin{
from{transform:rotate(0)}
to{transform:rotate(360deg)}
}

@-webkit-keyframes fadein{
from{opacity:0}
to{opacity:1}}
@-moz-keyframes fadein{
from{opacity:0}
to{opacity:1}
}

@keyframes fadein{
from{opacity:0}
to{opacity:1}
}

@keyframes first-indicator{
0%{transform:translate(0) scaleX(0)}
25%{transform:translate(0) scaleX(.5)}
50%{transform:translate(25%) scaleX(.75)}
75%{transform:translate(100%) scaleX(0)}
100%{transform:translate(100%) scaleX(0)}
}

@keyframes second-indicator{
0%{transform:translate(0) scaleX(0)}
60%{transform:translate(0) scaleX(0)}
80%{transform:translate(0) scaleX(.6)}
100%{transform:translate(100%) scaleX(.1)}
}

.rotate_info {
  width: 15rem;
  position: absolute;
  bottom: 7.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotate_info p{
  color: white;
  text-align: center;
  border-left: dotted rgba(255, 255, 0, 0.204) 0.2rem;
  border-right: dotted rgba(255, 255, 0, 0.204) 0.2rem;
  padding: 0 0.8rem;
}

.swipe {
  width: 50%;
  display: flex;
  -webkit-animation:spin 6s linear infinite;
  -moz-animation:spin 6s linear infinite;
  animation:spin 6s linear infinite;
  opacity: 0.3;
}

@-moz-keyframes spin { 
  0% { -moz-transform: rotate(20deg);
    opacity: 1;        
  } 
  25% { -moz-transform: rotate(65deg);
    opacity: 0.3;        
  } 

  50% { -moz-transform: rotate(20deg);
    opacity: 1;        
  } 

  75% { -moz-transform: rotate(-20deg);
    opacity: 0.3;        
  } 
  100% { -moz-transform: rotate(20deg);
          opacity: 1;        
  } 
}

@-webkit-keyframes spin { 
  0% { -webkit-transform: rotate(20deg);
    opacity: 1;        
  } 
  25% { -webkit-transform: rotate(65deg);
    opacity: 0.3;        
  } 

  50% { -webkit-transform: rotate(20deg);
    opacity: 1;        
  } 

  75% { -webkit-transform: rotate(-20deg);
    opacity: 0.3;        
  } 
  100% { -webkit-transform: rotate(20deg);
          opacity: 1;        
  } 
}
@keyframes spin { 
  0% { -moz-transform: rotate(20deg);
    opacity: 1;        
  } 
  25% { -moz-transform: rotate(65deg);
    opacity: 0.3;        
  } 

  50% { -moz-transform: rotate(20deg);
    opacity: 1;        
  } 

  75% { -moz-transform: rotate(-20deg);
    opacity: 0.3;        
  } 
  100% { -moz-transform: rotate(20deg);
          opacity: 1;        
  } 
}

#projects {
  display: none;
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 30rem;
  height: 45rem;
  background-color: rgba(240, 240, 239, 0.103);
  border-radius: 1rem;
  border-right: 1rem solid #292929;
  overflow-y: scroll;
}

#projects h2 {
  padding-left: 1rem;
  color: rgba(255, 255, 0, 0.226);
}

#close_button {
  text-align: right;
  padding: 1rem;
  cursor: pointer;
}

.project-content {
  text-align: center;
  padding-top: 2rem;
}

.hover-info {
  position: absolute;
  left: 2rem;
  top: 2rem;
  color: white;
}

.hover-info p {
  font-size: 1rem;
  margin: 1rem;
}

.hover-info ul {
  list-style: none;
  color: yellow;
  border-left: 0.2rem solid yellow;
}

.hover-info h4 {
  color: red;
}

#projects ul li {
  list-style: none;
  background-color: #292929;
  margin: 1rem;
  padding: 0.2rem;
  padding: 1rem 0;
  border-radius: 1rem;
}

#projects ul li p {
  padding: 0.5rem;
}

#projects ul li p:nth-child(3) {
  color: yellow;
}

#projects ul li a {
  text-decoration: none;
  color: white;
  padding-left: 0.5rem;
}

#projects ul {
  padding-left: 0;
}

#projects ul li img {
  width: 100%;
}

.constr {
  text-align: center;
  margin: 2rem 0;
}

.contact {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
  width: 30rem;
  display: none;
}

.contact label {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.contact input {
  height: 2rem;
  width: 20rem;
  padding-left: 1rem;
  font-size: 1.2rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.062);
  color: white;
  margin: 0.5rem 0;
}

.contact textarea {
  height: 5rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.062);
  margin: 0.5rem 0;
  color: white;
}

.contact button {
  height: 2rem;
  width: 5rem;
  border: none;
  background-color: yellow;
  font-weight: 600;
}

.contact img {
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
}